<md-dialog layout="column" flex="70">
    <md-dialog-content>
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">

                    <input placeholder="Buscar" class="md-input" type="search" ng-model="search" />
                    <span flex></span>
                    <md-icon><i class="mdi-action-search "></i></md-icon>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon class="fa fa-times"></md-icon>
                    </md-button>
                </div>


            </md-toolbar>
        </md-content>

        <div flex="90" class="container" style="max-height: 500px">

            <md-content>

                <md-list ng-repeat="equipo in equiposLiga | filter: search">
                    <md-list-item class="md-3-line" layout="row" style="max-height: 90px; margin-bottom: 20px">
                        <img ng-src="{{equipo.ImagenesEquipo[0].FileUrl }}"
                             class="md-avatar" style="min-width: 70px; min-height: 70px" />
                        <div class="md-list-item-text">
                            <h3>{{equipo.Nombre}}</h3>
                            <!--<h4>Al dia: {{equipo.alDia}}</h4>-->
                        </div>                        
                        <md-checkbox class="md-secondary" aria-label="checkbox" ng-change="addCheck(equipo)" ng-model="equipo.isChecked"></md-checkbox>
                        <label>Agregar</label>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
                <md-actions layout="row" layout-align="end end">
                    <md-button ng-click="variable = true">Agregar Nuevo</md-button>
                    <md-button ng-click="addEquipos(listadoTem)">Agregar</md-button>
                    <md-button ng-click="cancelar()">Cancelar</md-button>
                </md-actions>
            </md-content>
            <md-divider></md-divider>

            <div ng-show="variable">
                <md-input-container>                    
                    <label>Nuevo equipo</label>
                    <input type="text" ng-model="equipo.Nombre" />

                    <!--#region fpaz: Imagen del Torneo-->
                    <div ngf-drop="" ngf-select="" ng-model="equipo.logo"
                         class="b-a b-dashed p-lg bg-white text-center m-b"
                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB">
                        <img ngf-thumbnail="equipo.logo" class="thumb img-responsive">
                        <p ng-show="!equipo.logo">LOGO DEL EQUIPO</p>
                    </div>
                    <i ng-show="myForm.file.$error.maxSize">
                        File too large
                        {{picFile.size / 1000000|number:1}}MB: max 5M
                    </i>
                    <!--#endregion-->

                </md-input-container>
                <md-actions layout="column" layout-align="end end">
                    <md-button ng-click="addEquipo(equipo)">Agregar</md-button>
                    <md-button ng-click="variable = false">Cancelar</md-button>
                </md-actions>
            </div>

        </div>
        
    </md-dialog-content>
</md-dialog>
