<div layout="column" class="container" flex>


    <h4 class="page-head-line">Equipos</h4>
    <div flex="80" ng-show="true">
        <md-card class="md-whiteframe-11dp" style="max-width: 700px">
            <md-card-content>
                <v-accordion class="vAccordion--default" multiple control="accordion">
                    <v-pane id="accordionCategorias" ng-repeat="categoria in equiposLiga" expanded="true">
                        <v-pane-header>
                            Categoria: {{categoria.Nombre}}
                        </v-pane-header>
                        <v-pane-content>
                            <md-list ng-repeat="equipo in categoria.Equipos">
                                <md-list-item class="md-3-line" layout="row">
                                    <img class="md-avatar" ng-src="{{equipo.ImagenesEquipo[0].FileUrl}}" style="min-height:100px; min-width:100px" />
                                    <div class="md-list-item-text">
                                        <h3>{{equipo.Nombre}}</h3>
                                        <h4>al dia: {{equipo.AlDia}}</h4>
                                    </div>
                                </md-list-item>
                                <md-list-actions layout="row" layout-align="end center">
                                    <md-button ui-sref="jugador.jugadorList({idEquipo:equipo.Id, idCategoria:categoria.Id})">Ver</md-button>

                                </md-list-actions>
                                <md-divider></md-divider>
                            </md-list>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>
            </md-card-content>
        </md-card>
    </div>
</div>

<nav mfb-menu position="br" effect="zoomin" label="Herramientas"
     active-icon="mdi-content-clear" resting-icon="mdi-content-add"
     toggling-method="hover">
    <button mfb-button icon="fa fa-futbol-o" label="Agregar Equipo" ng-click="nuevoEquipoLiga()"></button>
    <!--style="background-color: #D32F2F"-->
</nav>
<div id="printear" ng-hide="true">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color:#388E3C">
            <h2>
                <span>Listado de Equipos</span>
            </h2>
        </div>
    </md-toolbar>
    <md-list ng-repeat="equipo in listadoEquiposTorneo">
        <md-list-item class="md-3-line" layout="row" style="min-height:150px">
            <img class="md-avatar" ng-src="{{equipo.Equipo.ImagenesEquipo[0].FileUrl}}" style="min-height:100px; min-width:100px" />
            <div class="md-list-item-text">
                <h3>{{equipo.Equipo.Nombre}}</h3>
                <h4>al dia: {{equipo.AlDia}}</h4>

            </div>

        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</div>



