<md-dialog >
    <md-dialog-content layout="row" flex="100">
        <div class="container">
            <div layout="row">
                <md-card flex="30">
                    <md-card-content layout="column" layout-align="center center" layout-fill>
                        <div class="md-media-xl card-media rounded">
                            <!--iafar:Aqui se puede poner una imagen-->
                            <ng-md-icon icon="person_add" style="fill: #abcdef" size="200"></ng-md-icon>
                        </div>
                    </md-card-content>
                </md-card>

                <md-card flex="60">
                    <md-toolbar>
                        <div class="md-toolbar-tools">Nuevo Equipo</div>
                    </md-toolbar>
                    <md-card-content>
                        <md-input-container>
                            <label>Nombre</label>
                            <input type="text" ng-model="equipo.Nombre" class="form-control" required />
                        </md-input-container>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end end">
                        <md-button ng-click="addEquipo(equipo)">Guardar</md-button>
                        <md-button ng-click="cancel()">Cancelar</md-button>
                    </md-card-actions>
                </md-card>
            </div>


        </div>

    </md-dialog-content>
</md-dialog>
