<md-dialog layout="row" flex>
    <md-dialog-content flex>
            <div layout="row">
                <md-card flex="30">
                    <md-card-content layout="column" layout-align="center center" layout-fill>
                        <!--#region fpaz: Imagen del Torneo-->
                        <a>
                            <div ngf-drop="" ngf-select="" ng-model="equipo.logo"
                                 class="b-a b-dashed p-lg bg-white text-center m-b"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB">
                                <img ngf-thumbnail="equipo.logo" class="thumb img-responsive">
                                <p ng-show="!equipo.logo">LOGO DEL EQUIPO</p>
                            </div>
                            <i ng-show="myForm.file.$error.maxSize">
                                File too large
                                {{picFile.size / 1000000|number:1}}MB: max 5M
                            </i>
                        </a>
                        <!--#endregion-->
                    </md-card-content>
                </md-card>

                <md-card flex="70">
                    <md-toolbar>
                        <div class="md-toolbar-tools">Nuevo Equipo</div>
                    </md-toolbar>
                    <md-card-content>
                        <md-input-container style="min-width: 400px">
                            <label>Nombre</label>
                            <input type="text" ng-model="equipo.Nombre" class="form-control" required />
                        </md-input-container>
                        <md-input-container>
                            <md-select placeholder="Seleccionar Categoria" ng-model="equipo.CategoriaId">
                                <md-option ng-value="categoria.Id" ng-repeat="categoria in categorias">{{categoria.Nombre }}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end end">
                        <md-button ng-click="addEquipo(equipo)">Guardar</md-button>
                        <md-button ng-click="cancel()">Cancelar</md-button>
                    </md-card-actions>
                </md-card>
            </div>
    </md-dialog-content>
</md-dialog>
