<md-dialog layout="row" flex>
    <md-dialog-content flex>
        <div layout="row">
            <md-card flex="100">
                <md-toolbar>
                    <div class="md-toolbar-tools">Nueva Profesion</div>
                </md-toolbar>
                <md-card-content>
                    <md-input-container style="min-width: 400px">
                        <label>Nombre de profesion</label>
                        <input type="text" ng-model="profesion.Nombre" class="form-control" required />
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end end">
                    <md-button ng-click="nuevaProfesion(profesion)">Guardar</md-button>
                    <md-button ng-click="cancel()">Cancelar</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-dialog-content>
</md-dialog>