<md-dialog aria-label="Agregar Partidos a la Fecha " flex="100" ng-cloak ng-init="init()">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Agregar Partido</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex="grow">
                        <!--#region fpaz: Informacion de la Fecha-->
                        <div layout="row">
                            <div flex="grow" /> 
                            <h4 class="page-head-line">{{torneo.Nombre + '   -  '  + 'Fecha:  ' + fecha.NumFecha}} </h4>
                        </div>
                    </div>
                    <!--#endregion-->
                    <!--#region fpaz: Armado de Partido-->
                    <div layout="row">
                        <div flex="50">
                            <md-input-container style="margin-right: 10px;">
                                <md-select placeholder="Seleccionar Equipo Local" ng-model="partido.EquipoLocal">
                                    <md-option ng-value="equipo.Equipo" ng-repeat="equipo in listEquipos">{{ equipo.Equipo.Nombre }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="50">
                            <md-input-container>
                                <md-select placeholder="Seleccionar Equipo Visitante" ng-model="partido.EquipoVisitante">
                                    <md-option ng-value="equipo.Equipo" ng-repeat="equipo in listEquipos">{{ equipo.Equipo.Nombre }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex="50">
                            <md-input-container>
                                <label>Sede del Partido</label>
                                <input class="md-input" ng-model="partido.Sede">
                            </md-input-container>
                        </div>
                        <div flex="30">
                            <md-input-container>
                                <label>Fecha del Partido</label>
                                <input type="datetime-local" ng-model="partido.Dia"
                                       placeholder="dd/MM/yyyy" />
                            </md-input-container>
                        </div>
                        <div flex="20">
                            <md-input-container>
                                <label>Hora</label>
                                <input type="time" ng-model="partido.Hora"
                                       placeholder="HH:MM" />
                            </md-input-container>
                        </div>
                    </div>

                    <div layout="row">
                        <div flex="50">
                            <!--<md-autocomplete ng-disabled="false"
                                             md-no-cache="true"
                                             md-autofocus="false"
                                             md-search-text-change="true"
                                             md-selected-item-change="true"
                                             md-menu-class="autocomplete-custom-template"
                                             md-floating-label="Arbitro"
                                             md-selected-item="partido.Arbitro"
                                             md-search-text="searchText"
                                             md-items="arbitro in listArbitros | filter: searchText"
                                             md-item-text="item"
                                             md-text-change="false"
                                             ng-model="partido.Arbitro"
                                             md-select-on-match="true"
                                             md-min-length="0">
                                <span>{{arbitro.NombreApellido}}</span>
                            </md-autocomplete>-->  
                            <md-input-container style="margin-right: 10px;">
                                <md-select placeholder="Seleccionar Arbitro del Partido" ng-model="partido.Arbitro">
                                    <md-option ng-value='arbitro' ng-repeat="arbitro in listArbitros">{{ arbitro.NombreApellido }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <!--#endregion-->
                </div>
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="partidoAdd(partido)">
            Agregar Partido
        </md-button>
        <md-button ng-click="cancel()" class="md-primary">
            Cancelar
        </md-button>
    </md-dialog-actions>
</md-dialog>

