
<div layout="column" layout-fill>

    <!--#region Panel de resultados-->
    <md-content style="background-color:#eee" flex>
        <md-card>
            <md-card-title>
                <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Jugadores</h2>
                        <div flex></div>
                        <md-button class="md-icon-button" ng-click="filter.show = true">
                            <ng-md-icon icon="search"></ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show">
                    <div class="md-toolbar-tools">
                        <br />
                        
                        <md-input-container flex name="filter.form" >

                            <input type="text" ng-model="search" placeholder="Buscar" layout-align="end end">
                        </md-input-container>
                        <md-button class="md-icon-button" ng-click="filter.show = false">
                            <ng-md-icon icon="clear"></ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
            </md-card-title>
            <md-card-content>
                <md-table-container style="height:400px">
                    <table md-table md-row-select md-progress="promise">
                        <thead md-head md-order="myOrder" md-on-reorder="onReorder">
                            <tr md-row>
                                <th md-column md-numeric>D.N.I.</th>
                                <th md-column md-numeric>Matricula</th>
                                <th md-column md-order-by="NombreApellido"><span>Nombre y Apellido</span></th>
                                <th md-column>Federado</th>
                                <th md-column>Ficha Medica</th>
                                <th md-column>Profesion</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="jugador" md-auto-select ng-repeat="j in jugadoresList | filter:search | orderBy:myOrder | limitTo: query.limit: (query.page - 1) * query.limit ">
                                <td md-cell>{{j.Dni}}</td>
                                <td md-cell>{{j.Matricula}}</td>
                                <td md-cell>{{j.NombreApellido}}</td>
                                <td md-cell>{{j.Federado == true ? "Si" : "No"}}</td>     <!--elem.WithCertification == true ? "Yes" : "No"-->   
                                <td md-cell>{{j.FichaMedica == true ? "Si" : "No"}}</td>
                                <td md-cell>{{busProf(j.ProfesionId)}}</td>
                                <td md-cell><md-button class="md-raised" ng-click="jugadorInfo(j)">Detalle</md-button></td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{jugadoresCount}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
            </md-card-content>
        </md-card>
        <!--#region iafar: menu flotante-->
        <div layout="row" layout-align="star center">
            <nav mfb-menu position="br" effect="zoomin" label="Herramientas"
                 active-icon="mdi-content-clear" resting-icon="mdi-content-add"
                 toggling-method="hover">
                <button mfb-button icon="mdi-content-add" label="Nuevo Jugador" ng-click="jugadorAdd()"></button>
                <button mfb-button icon="mdi-action-search" label="Agregar jugadores en liga" ng-click="jugadoresLiga()"></button>
            </nav>
        </div>
        <!--#endregion-->
    </md-content>
    <!--#endregion-->
</div>


