
<div layout="column" layout-fill>
    <!--#region tabs de vista-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>
                {{Torneo.Nombre}}/{{Equipo.Nombre}}
            </h1>

            <span flex></span>
        </div>

    </md-toolbar>
    <!--#endregion-->
    <!--#region Panel de resultados-->
    <md-content style="background-color:#eee" flex>
        <md-card>
            <br />
            <div class="md-toolbar-tools" flex>
                <span flex="5"></span>
                <md-input-container flex>
                    <label class="md-title">Buscar</label>
                    <input ng-model="search">
                </md-input-container>
                <ng-md-icon icon="search"></ng-md-icon>
            </div>
            <br />
            <md-list>
                <md-list-item ng-repeat="j in jugadoresList | filter:search">
                    <!--ng-repeat="jugador in jugadores | ofertaFilter:search"-->
                    <md-button class="inline-block animate-show input-btn" layout="row" layout-margin flex ng-click="jugadorInfo(j)">
                        <!--ng-click="prueba(oferta.Nombre)"-->
                        <div layout="row">
                            <div flex="15" layout-margin>
                                <div class="md-whiteframe-z1" flex>
                                    <ng-md-icon icon="person_add" style="fill: #0b0053" size="80" flex="10"></ng-md-icon>
                                    <!--<img src="../../../img/jugador.png" sizes="80" flex="10" class="img-responsive" />-->
                                    <h6>{{j.Apodo}}</h6>
                                </div>

                            </div>

                            <div flex="85" layout="column">
                                <div layout="row" layout-wrap>
                                    <div flex="25">
                                        <label>Matricula: </label>

                                        <input ng-model="j.Matricula" class="md-input" disabled>

                                    </div>
                                    <span flex="10"></span>
                                    <div flex>
                                        <label>Equipo Actual:</label>
                                        <input ng-model="equipoInfo.Nombre" class="md-input" disabled>
                                    </div>
                                </div>

                                <div layout="row">
                                    <div flex="25">
                                        <label>DNI:</label>
                                        <input ng-model="j.Dni" class="md-input" disabled>
                                    </div>
                                    <span flex="10"></span>
                                    <div flex>
                                        <label>Nombre y Apellido:</label>
                                        <input ng-model="j.NombreApellido" class="md-input" disabled>
                                    </div>
                                    <!--<span flex="10"></span>
                                    <div flex>
                                        <label>Apellido:</label>
                                        <input ng-model="j.Apellido" class="md-input" disabled>
                                    </div>-->
                                </div>
                                <div layout="row" layout-wrap>
                                    <div flex="10">
                                        <label>Federado:</label>
                                        <input ng-model="j.Federado" class="md-input" disabled>

                                    </div>
                                    <span flex="10"></span>
                                    <div flex="10">
                                        <label>Ficha Medica:</label>
                                        <input ng-model="j.FichaMedica" class="md-input" disabled>
                                    </div>
                                    <span flex="10"></span>
                                    <div flex>
                                        <label>Profesion:</label>
                                        <input ng-model="j.Profesion" class="md-input" disabled>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                            <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                        </div>
                    </md-button>
                    <br />
                </md-list-item>
                <div class="text-center text-accent animate-show" ng-show="(jugadoresList.Jugador | filter:search).length == 0">
                    <h4>No se encontraron jugadores en equipo</h4>
                    <br />
                </div>
               
                <md-divider></md-divider>

                <md-list-item>
                    <md-button class="md-primary">

                        <span>More</span>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-card>
        <!--#region iafar: menu flotante-->
        <div layout="row" layout-align="star center">
            <nav mfb-menu position="br" effect="zoomin" label="Herramientas"
                 active-icon="mdi-content-clear" resting-icon="mdi-content-add"
                 toggling-method="hover">
                <button mfb-button icon="mdi-social-person-add" label="Nuevo Jugador" ng-click="jugadorAdd()"></button>
                <button mfb-button icon="fa fa-print" label="Imprimir Listado" ng-click="printToCart('printear')"></button>
                <!--<button mfb-button icon="glyphicon glyphicon-calendar" label="Agregar Nueva Fecha" ng-click="addFecha()"></button>
        <button mfb-button icon="fa fa-futbol-o" label="Agregar Nuevo Partido" ng-click="addPartido()"></button>
        <button mfb-button icon="fa fa-users" label="Agregar Nuevo Equipo"></button>-->
            </nav>
        </div>
        <!--#endregion-->
    </md-content>
    <!--#endregion-->
</div>


