<md-dialog flex="90" aria-label="Nuevo Jugador">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{func}} Jugador</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <!--<div class="container">-->
        <div layout="row" class="md-inline-form" layout-fill layout-align="center center">
            <md-card layout="row" flex="30">
                <md-card-content layout="column" layout-align="center center" layout-fill>
                    <div class="md-media-xl card-media rounded">
                        <!--iafar:Aqui se puede poner una imagen-->
                        <ng-md-icon icon="person_add" style="fill: #abcdef" size="200"></ng-md-icon>
                    </div>
                    <md-input-container layout-fill>
                        <label>Apodo</label>
                        <input ng-model="jugador.Apodo" ng-disabled='edit'>
                    </md-input-container>
                </md-card-content>
            </md-card>

            <md-card flex="60">
                <md-card-content layout="column">
                    <div layout="row" style="height:60px">
                        <md-input-container flex="35" style="padding-bottom: 5px;">
                            <label>Matricula</label>
                            <input ng-model="jugador.Matricula" ng-disabled='edit' type="number">
                        </md-input-container>
                        <md-input-container layout-wrap flex>
                            <md-select placeholder="Seleccione el Equipo" ng-model="equipoId" aria-label="Seleccion Equipo" layout-wrap style="padding-bottom: 0;" ng-disabled='edit'>
                                <md-option ng-repeat="equipo in equiposList" value="{{equipo.Equipo.Id}}">
                                    {{equipo.Equipo.Nombre}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="row" style="height:60px">
                        <md-input-container flex="30">
                            <label>DNI</label>
                            <input ng-model="jugador.Dni" ng-disabled='edit'>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Nombre y Apellido</label>
                            <input ng-model="jugador.NombreApellido" ng-disabled='edit'>
                        </md-input-container>
                    </div>
                    <div layout="row" style="height:60px">
                        <md-input-container flex="25">
                            <label>Telefono</label>
                            <input ng-model="jugador.Telefono" ng-disabled='edit'>
                        </md-input-container>
                        <md-input-container flex="35">
                            <label>Direccion</label>
                            <input ng-model="jugador.Direccion" ng-disabled='edit'>
                        </md-input-container>
                        <md-input-container flex>
                            <label>E-Mail</label>
                            <input ng-model="jugador.Email" ng-disabled='edit'>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-switch class="md-primary" md-no-ink ng-model="jugador.Federado" aria-label="Ficha" layout-align="start" ng-disabled='edit'>
                            Federado: {{ jugador.Federado== true ? "Si" : "No" }}
                        </md-switch>
                        <md-switch class="md-primary" md-no-ink ng-model="jugador.FichaMedica" aria-label="Ficha" layout-align="start" ng-disabled='edit'>
                            Ficha Medica: {{ jugador.FichaMedica == true ? "Si" : "No"}}
                        </md-switch>
                        <md-select placeholder="Seleccione Profesion" ng-model="jugador.ProfesionId" aria-label="Seleccion Equipo" layout-align="start" flex ng-disabled='edit'>
                            <md-option ng-repeat="profesion in profesionList" value="{{profesion.Id}}">
                                {{profesion.Nombre}}
                            </md-option>
                        </md-select>

                    </div>


                </md-card-content>
            </md-card>
        </div>
        <!--</div>-->
        <md-dialog-actions layout="row" class="bg-primary">           
            <span flex></span>            
            <md-button class="md-raised" ng-hide="edit" ng-click="guardarJugador()">Guardar</md-button>
            <md-button class="md-raised" ng-show="edit" ng-click="editJugador()">Editar</md-button>
            <md-button class="md-raised md-shadow-animated" style="margin-right:20px;" ng-click="closeDialog('cancel')">Cancelar</md-button>
        </md-dialog-actions>
    </md-dialog-content>

</md-dialog>



