<div layout="row">
    <!--#region Zonas del Torneo-->
    
    <div class="col-sm-6" ng-repeat="zona in zonas">
        <div class="card">
            <div class="card-heading">
                <div class="clear text-ellipsis hidden-sm">
                    <div layout="row">
                        <div flex="grow">
                            <h2 class="page-head-line">
                                <a ui-sref="zona.info({zonaId:zona.Id})">Zona: {{zona.Descripcion}}</a>
                            </h2>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <table ng-table="tableAmonestados" class="table table-bordered table-hover table-condensed editable-table">
                    <tr ng-repeat="equipo in zona.EquiposTorneo">
                        <td data-title="'N°'">
                            {{$index+1}}
                        </td>
                        <td data-title="'Equipo'">
                            <img class="img-thumbnail img-responsive" ng-src="{{equipo.Equipo.ImagenesEquipo[0].FileUrl}}" width="30" />
                            <span ui-sref="jugador.jugadorList({idTorneo:equipo.TorneoId, idEquipo:equipo.Equipo.Id})"><a>{{equipo.Equipo.Nombre}}</a> </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--#endregion-->    
</div>
<!--#region fpaz: menu flotante-->
<div layout="row" layout-align="star center">
    <nav mfb-menu position="br" effect="zoomin" label="Herramientas"
         active-icon="mdi-content-clear" resting-icon="mdi-content-add"
         toggling-method="hover">
        <button mfb-button icon="glyphicon glyphicon-calendar" label="Agregar Zona" ng-click="addZona()"></button>
        <!--<button mfb-button icon="fa fa-futbol-o" label="Agregar Nuevo Partido" ng-click="addPartido()"></button>-->
    </nav>
</div>
<!--#endregion-->                 