<div layout="column" class="container">
    <h4 class="page-head-line">Torneo</h4>   

    <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
        <div flex-xs flex="30" ng-repeat="torneo in torneos" layout-padding layout-margin>
            <md-card style="min-width: 300px; max-height: 400px">                
                <img ng-src="{{torneo.ImagenesTorneo[0] != null ? torneo.ImagenesTorneo[0].FileUrl : imagen }}"
                     class="md-card-image" alt="Fepuse" style="min-width: 200px; max-height: 200px">                
                <md-card-content>
                    <h3>{{torneo.Nombre}}</h3>
                    <h5>Fecha de Inicio: {{torneo.FechaInicio | date:'dd/MM/yyyy'}} </h5>
                    <h5>Fecha de Fin: {{torneo.FechaFin | date:'dd/MM/yyyy'}}</h5>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button md-no-ink class="md-primary" ui-sref="torneo.info.zonas({torneoId:torneo.Id})">Ver</md-button>
                    <!--<md-button class="md-warn" ng-click="confirmar(torneo)">Eliminar</md-button>-->
                </md-card-actions>
             </md-card>
         </div>                        
     </md-content>
</div>


    <div flex="50" layout="row" layout-align="end end" ng-hide="variable">
        <nav mfb-menu position="br" effect="zoomin" active-icon="mdi-content-clear" class="md-fab" label="Nuevo Torneo" resting-icon="mdi-content-add" toggling-method="hover" ng-click=" nuevoTorneo(ev)">
            <!--style="background-color: #D32F2F"-->
        </nav>
    </div>
    
        <!--class="md-raised" style="background-color: #D32F2F"-->