<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">{{torneo.Nombre}}</h4>
        </div>
    </div>
    <!--#region Listado de Equipos del Torneo-->
    <div class="row row-sm">
        <div layout="row">
            <md-input-container layout="row" layout-align="center end" flex="grow">
                <div flex>
                    <md-chips ng-model="torneo.Equipos" readonly="true">
                        <md-chip-template>
                            <span>
                                <strong>{{$chip.Nombre}}</strong>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
            </md-input-container>
        </div>
    </div>
    <!--#endregion-->
    <div class="row row-sm">
        <!--#region Menu de Fixture-->
        <div class="col-sm-3">
            <div class="panel panel-card">
                <div class="r-t pos-rlt" md-ink-ripple>
                    <div class="text-center">
                        <a href>
                            <img src="http://www.diarioveloz.com/adjuntos/120/imagenes/001/163/0001163146.jpg" class="img-responsive">
                        </a>                                                
                        <p>
                            Fixture
                        </p>
                    </div>
                </div>
                <div class="list-group no-radius no-border" ng-repeat="fecha in torneo.Fechas">
                    <a class="list-group-item" ui-sref="torneo.info.fecha({fechaId: fecha.Id})">
                        Fecha: <span class="pull-right badge">{{fecha.NumFecha}}</span>
                    </a>                    
                </div>                
            </div>
        </div>
        <!--#endregion-->

        <!--#region Partidos de la Fecha -->
        <div ui-view="partidos"></div>
        <!--#endregion-->
    </div>
</div>

<!--#region fpaz: menu flotante-->
<div layout="row" layout-align="star center">
    <!--<div flex="60"><h2>Agrega puestos en la oferta</h2></div>
    <div flex="30"><md-button class="md-fab " aria-label="PuestosAdd" ng-click="AbrirParaAgregar()"><i class="fa fa-plus"></i></md-button> </div>-->

    <nav mfb-menu position="br" effect="zoomin" label="Herramientas"
         active-icon="mdi-content-clear" resting-icon="mdi-content-add"
         toggling-method="hover">
        <button mfb-button icon="glyphicon glyphicon-calendar" label="Agregar Nueva Fecha" ng-click="addFecha()"></button>
        <button mfb-button icon="fa fa-futbol-o" label="Agregar Nuevo Partido" ng-click="addPartido()"></button>        
    </nav>
</div>
<!--#endregion-->


