<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">{{torneo.Nombre}}</h4>
        </div>
    </div>
    <!--#region Listado de Equipos del Torneo-->
    <div class="row row-sm">
        <div layout="row">
            <md-input-container layout="row" layout-align="center end" flex="grow">
                <div flex>
                    <md-chips ng-model="torneo.EquipoTorneos" readonly="true">
                        <md-chip-template>
                            <span>
                                <strong>{{$chip.Equipo.Nombre}}</strong>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
            </md-input-container>
        </div>
    </div>
    <!--#endregion-->
    <div class="row row-sm">
        <md-tabs md-dynamic-height md-border-bottom>  
            <!--#region Zonas del Torneo -->
            <md-tab label="Zonas del Torneo" ui-sref="torneo.info.zonas">
                <md-content class="md-padding">                    
                    <div ui-view="zonas"></div>   
                    
                </md-content>
            </md-tab>
            <!--#endregion-->          
            <!--#region Tabla de Posiciones -->
            <md-tab label="Tabla de Posiciones" ui-sref="torneo.info.tablaPos">
                <md-content class="md-padding">                    
                    <div ui-view="tabla"></div>                    
                </md-content>
            </md-tab>
            <!--#endregion-->
            <!--#region Fixture -->
            <md-tab label="Fixture" ng-click="verDetalle(torneo.Id)">
                <md-content class="md-padding">
                    <div class="row row-sm">
                        <!--#region Menu de Fixture-->
                        <div class="col-sm-3">
                            <div class="panel panel-card">
                                <div class="r-t pos-rlt" md-ink-ripple>
                                    <div class="text-center">
                                        <a href>
                                            <img ng-src="{{torneo.ImagenesTorneo[0] != null ? torneo.ImagenesTorneo[0].FileUrl : imagen }}" class="img-responsive">
                                        </a>
                                        <p>
                                            Fixture
                                        </p>
                                    </div>
                                </div>
                                <div class="list-group no-radius no-border" ng-repeat="fecha in torneo.Fechas">
                                    <a class="list-group-item" ui-sref="torneo.info.fecha({fechaId: fecha.Id})">
                                        Fecha: <span class="pull-right badge">{{fecha.NumFecha}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--#endregion-->
                        <!--#region Partidos de la Fecha -->
                        <div ui-view="partidos"></div>
                        <!--#endregion-->
                    </div>
                    <!--#region fpaz: menu flotante-->
                    <div layout="row" layout-align="star center">
                        <nav mfb-menu position="br" effect="zoomin" label="Herramientas"
                             active-icon="mdi-content-clear" resting-icon="mdi-content-add"
                             toggling-method="hover">
                            <button mfb-button icon="glyphicon glyphicon-calendar" label="Agregar Nueva Fecha" ng-click="addFecha()"></button>
                            <button mfb-button icon="fa fa-futbol-o" label="Agregar Nuevo Partido" ng-click="addPartido()"></button>                            
                        </nav>
                    </div>
                    <!--#endregion-->
                </md-content>
            </md-tab>
            <!--#endregion-->
            <!--#region Estadisticas del Torneo -->
            <md-tab label="Estadisticas del Torneo" ui-sref="torneo.info.estadisticas">
                <md-content class="md-padding">
                    <div ui-view="estadisticas"></div>                    
                </md-content>
            </md-tab>
            <!--#endregion-->
        </md-tabs>
    </div>
</div>
